<main>
  <h1>Structural directives</h1>

  <section *hideAfter="5000 as time; then placeholder; let counter = counter; let defaultValue;" class="banner primary">
    <h2>Temporary content</h2>
    <p>This layout should dissapear in {{ defaultValue }} seconds. It disappears in: {{ counter }}</p>
  </section>

  <ng-template #placeholder let-hideAfter="hideAfter" let-myDefault>
    <section class="banner red">
      <h2>Temporary content</h2>
      <p>Content. It was visible for {{ hideAfter }} seconds. Default value = {{ myDefault }}</p>
    </section>
  </ng-template>
</main>
